<footer>
 
 <div class="container"> Some text for the footer 
	 <div class="row">
		<div class="col-md-4">
			<ul class="se-footer-list">
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
			</ul>
		</div>
		<div class="col-md-4">
			 <ul class="se-footer-list">
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
			 </ul>	 
		</div>
		<div class="col-md-4">
			<ul class="se-footer-list">
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
			</ul>
		</div>
	 </div>
 </div>

 
</footer>

<!-- Bootstrap core JavaScript--> 
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script> 
<script src="{{ site.baseurl}}/assets/javascripts/bootstrap.min.js"></script> 
