<div class="navbar yamm navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
      <a class="navbar-brand" href="/"><img src="/assets/img/scottish-enterprise.svg" alt="Scottish Enterprise"></a> </div>
    <div id="navbar-collapse-1" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- Classic list -->
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Components <b class="caret"></b></a>
          <ul role="menu" class="dropdown-menu">
            {% for cookie in site.se-elements %}
            <li><a href="{{ cookie.url }}">{{ cookie.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <!-- Accordion demo -->
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Patterns <b class="caret"></b></a>
          <ul role="menu" class="dropdown-menu">
            {% for cookie in site.se-patterns %}
            <li><a href="{{ cookie.url }}">{{ cookie.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <!-- Classic dropdown -->
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Visual Language<b class="caret"></b></a>
          <ul role="menu" class="dropdown-menu">
            {% for cookie in site.se-visual-language %}
            <li><a href="{{ cookie.url }}">{{ cookie.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
        <!-- Page Tenplates -->
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Page Templates<b class="caret"></b></a>
          <ul role="menu" class="dropdown-menu">
            {% for cookie in site.se-templates %}
            <li><a href="{{ cookie.url }}">{{ cookie.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>