
/* ==========================================================================
   SE Custom styles for buttons and links 
   ========================================================================== */


.button {
    line-height: 1.5;
    height: auto;
    padding-top: 1em;
    padding-bottom: 1em;
}

.button.secondary {
    line-height: 56px;
}


.button--tertiary {
   background: transparent;
   color: #0065bd;
   padding: 0.5em 0;
   
   &:hover {
     color: #00437e;
   }
}

a.button {
  width: auto!important;
}

input.button {
  line-height: 70px;
}
