body.component-library {
    .navbar {
      ul {
        margin-left: 0;
        li { 
          list-style-position: inside; 
          a {font-size: 16px !important;}
      }
    }
    .navbar-brand {
      margin-right: 1em;
      img {
        max-height: 40px;
      }
    }
  }
  .link-block {
    padding-bottom: 1em;
  }
}
	

