<!DOCTYPE html>
<html lang="en">

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Scottish Enterprise Living Styleguide</title>
  <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search resu...">

<link rel="stylesheet" href="https://resources.mygov.scot/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="https://raw.githubusercontent.com/scottishgovernment/mygov-assets/master/css/mygov-assets.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">
  <link rel="alternate" type="application/rss+xml" title="Scottish Enterprise Living Styleguide" href="/feed.xml">

</head>


  <body class="component-library">
        
    {% include nav.html %}
    
    <div class="container">
      
      <h1>{{ page.title }}</h1>
      
      <div class="row">

        <div class="col-sm-12">

          <div class="demo-box">    
            <!-- ### Put your element demo here ### -->
                    
            {{ content }} 
              
            <!-- ### End element demo ### -->    
          </div>
          
          
          
          <div class="example-code">
                          
            <pre><code><textarea readonly>{{ content }}</textarea></code></pre>
                    
          </div>
          
          
              
          <div class="usage-notes">
            <h2>Usage notes</h2>
          
            <!-- ### Start your usage notes here ###-->
          
               {{page.usage}}
          
            <!-- ### End usage notes ###-->
          </div>


          
        </div>
      </div>

    </div>    

    {% include footer.html %}
 
  </body>

</html>
